.naviBar{
    display: flex;
    justify-content: space-evenly;
    background-color: #3C327B;
    height: 70px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    z-index: 8;
}
.Navileft{
    display: flex;
    width: 40%;
    .dropdown{
        display: flex;
        z-index: auto;
    }
    .dropdown-menu{
        background-color: #3C327B;
        border-radius: 30px;
        border: 0px;
        box-shadow: 1px 26px 38px 19px rgba(0,0,0,0.55);
        -webkit-box-shadow: 1px 26px 38px 19px rgba(0,0,0,0.55);
        -moz-box-shadow: 1px 26px 38px 19px rgba(0,0,0,0.55);
    }
    .dropdown-links{
        width: 450px;
        padding: 2%;
    }
    button, .btn {
        background: none;
        border: 0px;
        margin-left: 5%;
        font-size: 18px;
        }
    .btn:hover{
        background-color: #c77634;
    }
}
.Navilogo{
    margin: auto;
    text-align: center;
}
.Naviright{
    display: flex;
    justify-content: flex-end;
    width: 40%;
    button{
        background: none;
        border: 0px;
        margin-right: 5%;
        font-size: 18px;
    }
    .btn:hover{
        background-color: #c77634;
    }
    .btn:disabled{
        background: none;
    }
}
