.content{
  display: flex;
  height: 100vh;
  background-color: #C4C4C4;
}

.profileCard{
  margin: 5%;
  padding: 0% 15%;
  background-color: #C4C4C4;
  border: none;
}

.profileInfo{
  border: 2px solid #554f7a;
  border-radius: 36px;
  background-color: #6D659C;
  padding: 2% 4%;
  color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

.subscriptionForm{
  margin: 5%;
  padding: 0% 15%;
  align-items: center;
  background-color: #C4C4C4;
  border: none;
  .btn {
    border-radius: 36px;
    border-color: #554f7a;
    background-color: #6D659C;
    width: 20%;
    align-items: center;
    margin-left: 3%;
    &:hover{
      border: 1px solid #5a5287;
      background-color: #5a5287;
      color: white;
    }
  }
}

.subscriptionInfo{
  border: 2px solid #554f7a;
  border-radius: 36px;
  background-color: #6D659C;
  margin: 3%;
  padding: 2% 4%;
  color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}
.subscriptionInfo::placeholder{
  color: white;
}

// .sideBar{
//   width: 22%;
//   background-color: '#554f7a'; 
// }
// .sidebar-content{
//   height: 100%;
//   text-align: center;
//   background-color: '#554f7a';
//   // overflow-y: hidden;
//   .btn{
//       width: 100%;
//       background: none;
//       border: 0;
//   }
//   .btn:hover{
//       background-color: white;
//       color: black;
//   }
// }
// .sidebar-link{
//   margin-top: 10%;
// }