.content{
  display: flex;
  height: 100vh;
  background-color: #a569383a;
}

.profileCard{
  margin: 5%;
  padding: 0% 15%;
}

.profileInfo{
  border: 2px solid #554f7a;
  border-radius: 36px;
  background-color: #6D659C;
  padding: 2% 4%;
  color: white;
  font-size: 17px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

.subscriptionForm{
  margin: 5%;
  padding: 0% 15%;
  align-items: center;
  border: none;
  .btn {
    border-radius: 36px;
    border-color: #554f7a;
    background-color: #6D659C;
    width: 20%;
    align-items: center;
    margin-left: 3%;
    &:hover{
      border: 1px solid #5a5287;
      background-color: #5a5287;
      color: white;
    }
  }
}

.subscriptionInfo{
  border: 2px solid #554f7a;
  border-radius: 36px;
  background-color: #6D659C;
  margin: 3%;
  padding: 2% 4%;
  color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}
.subscriptionInfo::placeholder{
  color: white;
}

.saved{
  background-color: #a569383a;
  .type {
      font-family: 'verdana';
      font-weight: 500;
      font-size: 30px;
      color: #3C327B;
      margin-left: 10%;

    }
}

